.bloc:after, .bloc:before {
	content: " ";
	position: absolute;
	width: 50%;
	height: 100px;
	z-index: -10;
}
.bloc:before { background: green;}
.bloc:after { background: red; }


@mixin lateral-shadow ($side : 'both'){
	position:relative;
	:before {
		content: " ";
		position: absolute;
		z-index: -10;

		top: 10%;
		left: 0;
		width: 100%;
		height: 80%;
		@include border-radius(12px, 65px);
		@include box-shadow(#555 0 0 10px);
		@if $side == 'left' {
			width:30%;
		}
		@if $side == 'right' {
			left:auto;
			right:0;
			width:30%;
		}
	}
}

@mixin horizontal-shadow ($side : 'both'){
	position:relative;
	:before {
		content: " ";
		position: absolute;
		z-index: -10;

		top: 0px;
		left: 5%;
		width: 90%;
		height: 100%;
		@include border-radius(125px, 12px);
		@include box-shadow(#555 0 0 8px);

		@if $side == 'top' {
			height:30%;
		}
		@if $side == 'bottom' {
			top:auto;
			bottom:0;
			height:30%;
		}

	}  
}
@mixin curved-shadow ($x: 0, $y: 5px, $side : 'both'){
	$angle:3deg;
	position:relative;
	@include box-shadow(#aaa 0 0 2px);
	@if $side == 'both' or $side == 'left'{
		&:before {
			content: " ";
			position: absolute;
			z-index: -10;
			width: 50%;
			height: 10%;
			bottom: -$y;
			left: $x;
			@include rotate(-$angle);
			@include transform-origin(0%, 0%);
			@include background-image(linear-gradient(right, #333, #fff));
		}
	}
	@if $side == 'both' or $side == 'right'{
		&:after {
			content: " ";
			position: absolute;
			z-index: -10;
			width: 50%;
			height: 10%;
			background: #eee;
			bottom: -$y;
			right: $x;
			@include rotate($angle);
			@include transform-origin(100%, 0%);
			@include background-image(linear-gradient(left, #333, #fff));
		}
	}
}